.App, div {
    text-align: center;
}

button {
    cursor: pointer;
}

.card {
    width: 400px;
    padding: 10px;
    box-shadow: #eee 1px 1px 1px;
    text-align: center;
    display: flex;
    border: 1px solid #333;
    margin: 10px auto;
}

.card input {
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: center;
    font-size: 16px;
}

.card label {
    flex: 4;
}

.card button {
    flex: 1;
}